<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Movieflix</title>
</head>

<body>
  <!-- Your Code Goes Here -->
  <% for (let title in desc) {%>
    <% const inner = desc[title].split(":") %>
    <% if (inner[0].toLowerCase() == movName) {%>
      <h1><%= inner[0] %></h1>
      <p><%= inner[1] %></p>
      <% break %>
    <% } else { %>
      <h1>Sorry, movie name was not found</h1>
    <% }; %>
  <% }; %>
  <a href="/">Back to Home</a>
</body>

</html>